


.top{
    text-align: center;
    padding: 19px;
    

}
.event-card{
    border: 1px solid #ddd;
    padding: 15px;
    margin:10px 0;
    border-radius: 5px;
}

.event-card button{
    background-color:violet;
    color:antiquewhite;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-card button:hover{
    background-color: tomato;
}


#map {
  height: 400px;
  width: 100%;
  margin-top: 20px;
}