


.top{
    text-align: center;
    padding: 19px;
    

}
.evnet-card{
    border: 1px solid #ddd;
    padding: 15px;
    margin:10px 0;
    border-radius: 5px;
}

.evnet-card button{
    background-color:violet;
    color:antiquewhite;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.evnet-card button:hover{
    background-color: tomato;
}
